.conteiner {
  background-color: #0C1E58;
  height: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 100;
}

.logo {
  width: 10rem;
}

.btn-logout {
  position: absolute;
  right: 30px;
  height: 35px;
  width: 90px;
}

@media (max-width: 768px) {
  .logo {
    width: 7rem;
  }
  .btn-logout {
    height: 35px;
    width: 90px;
  }
}
